<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="navbar-text pull-left">
            <a class="white-icon" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">
                Choose Widget
            </a>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
        <div ng-repeat="type in model.widgetTypes" class="list-group-item">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new/{{type.widgetType}}" class="list-group-item">{{type.widgetType}}</a>
            <!--<a href="#" class="list-group-item">Label</a>
            <a href="#" class="list-group-item">HTML</a>
            <a href="#" class="list-group-item">Text Input</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Button</a>
            <a href="widget-image.view.client.html" class="list-group-item">Image</a>
            <a href="widget-youtube.view.client.html" class="list-group-item">YouTube</a>
            <a href="#" class="list-group-item">Data Table</a>
            <a href="#" class="list-group-item">Repeater</a>-->
        </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="row container-fluid">
        <div class="navbar-text pull-right">
            <a class="white-icon" href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>