<div ng-show="model.error" class="alert alert-danger" role="alert">
    {{model.error}}
</div>

<div>
    <div ng-if="model.widget.type">
    <div ng-switch="model.widget.type">
        <div ng-switch-when="HEADING">
            <ng-include src="'views/widget/widget-header.view.client.html'"></ng-include>
        </div>
        <div ng-switch-when="IMAGE">
            <ng-include src="'views/widget/widget-image.view.client.html'"></ng-include>
        </div>
        <div ng-switch-when="YOUTUBE">
            <ng-include src="'views/widget/widget-youtube.view.client.html'"></ng-include>
        </div>
        <div ng-switch-when="HTML">
            <ng-include src="'views/widget/widget-html.view.client.html'"></ng-include>
        </div>
        <div ng-switch-when="INPUT">
            <ng-include src="'views/widget/widget-text.view.client.html'"></ng-include>
        </div>
    </div>
    </div>
</div>